* {
    box-sizing: border-box;
}

.all {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 30px;
}


h1 {
    font-size: larger;
    font-weight: bold;
}

h2 {
    font-size: larger;
}

h3 {
    font-size: large;
    font-weight: bold;
}
h4 {
    font-size: medium;
    font-weight: bold;
}

.eyes {
    display: flex;
    gap: 100px;
    justify-content:center;
    align-items:center;
}

.eye {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 0px;
    position: relative;
}
.eye-ball {
    position: absolute;
}

.brow {
    position: absolute;
    top: -100px;
}

.face {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: sticky;
    top: 30dvh;
    z-index: 1;
}

.mustache {
    position:relative;
    top:-40px;
}

.name {
    font-size: 3rem;
    fill: black;
}

.drop-down, #legend-drop-down {
    color:black;    
    text-decoration: none;
}

.drop-down:hover, #legend-drop-down:hover {
    color:black;    
    text-decoration: none;
}

#legend-drop-down {
    display: flex;
    margin-top: 35px;
    margin-left: -38px;
    gap: 10px;
}

.legend {
    position: sticky;
    height: fit-content;
    width: fit-content;
    top: 20dvh;
    left: 0px;
    z-index: 3;
}

.tags {
    position: absolute;
    height: fit-content;
    max-height: 60dvh;
    overflow-y: auto;
    left: 60px;
    top: -10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid black;
    padding: 15px;
    border-radius: 5px;
}

.check-input {
    padding: 2px;
}

#legend-drop-down {
    background: white;
    height: fit-content;
    padding: 3px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 3px;
}

.tags li {
    list-style-type: none;
    display:flex;
    width: 100%;
    gap: 10px;
    padding: 5px;
}

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 45px;
    min-width: 45px;
    height: fit-content;
}

.tag {
    display: flex;
    justify-content: start;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    z-index: 2;
}

.general {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hide {
    display: none;
}

#filters {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.filter {
    background-color: lightblue;
    border: 1px dashed black;
    border-radius: 3%;    
    padding-right: 5px; 
    padding-left: 5px;
}

@media (max-width: 1000px) {
    .all {
        flex-wrap: wrap;
        font-size: 0.9rem;
    }
    .face {
        display: none;
        position: relative;
        top: 10dvh;
        opacity: 0.9;
    }
    img {
        width: 20px;
    }
    /*
    main{
        margin-top: 30dvh;
    }
    */
}

@media (max-width: 550px) {
    .face {
        transform: scale(0.7);
    }
    li:not(.tag) {
        margin-left: -25px;
    }
}

@media (max-width: 360px) {
    .face {
        transform: scale(0.5);
    }

}