* {
    box-sizing: border-box;
}

.all {
    display: flex;
    align-items: start;
    padding: 40px;
    gap: 100px;
    position: relative;
    top: -50px;
}

h1 {
    font-size: larger;
    font-weight: bold;
}

h2 {
    font-size: large;
}

h3 {
    font-size: large;
    font-weight: bold;
}
h4 {
    font-size: medium;
    font-weight: bold;
}

.eyes {
    display: flex;
    gap: 100px;
    justify-content:center;
    align-items:center;
}

.eye {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 0px;
    position: relative;
}
.eye-ball {
    position: absolute;
}

.brow {
    position: absolute;
    top: -100px;
}

.face {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: sticky;
    top: 30dvh;
    z-index: 1;
}

.mustache {
    position:relative;
    top:-40px;
}

.name {
    font-size: 3rem;
    fill: black;
}

.drop-down, #legend-drop-down {
    color:black;    
    text-decoration: none;
}

.drop-down:hover, #legend-drop-down:hover {
    color:black;    
    text-decoration: none;
}

#legend-drop-down {
    display: flex;
    margin-top: 35px;
    margin-left: -38px;
    gap: 10px;
}

.legend {
    position: sticky;
    height: fit-content;
    width: fit-content;
    top: 15dvh;
    left: 0px;
    z-index: 3;
}

.tags {
    position: absolute;
    height: fit-content;
    max-height: 60dvh;
    overflow-y: auto;
    left: 60px;
    top: -10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid black;
    padding: 15px;
    border-radius: 5px;
}

#clear-filters:hover {
    cursor: pointer;
    transform: scale(1.1);
}

input[type=checkbox] {
    padding: 2px;
    width: 30px;
    height: 25px;
}

#legend-drop-down {
    background: white;
    height: fit-content;
    padding: 3px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 3px;
}

.tag {
    list-style-type: none;
    display:flex;
    width: 100%;
    gap: 13px;
    padding: 5px;
}

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 45px;
    min-width: 45px;
    height: fit-content;
}

.tag {
    display: flex;
    justify-content: start;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 2;
}

.content {
    margin-bottom: 5px;
}

.general {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.general div {
    flex: 1;
}

.projects {
    position: relative;
    left: 30px;
}

.hide {
    display: none;
}

#filters {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.filter {
    background-color: lightblue;
    border: 1px dashed black;
    border-radius: 3%;    
    padding-right: 5px; 
    padding-left: 5px;
}

#match-plus-button {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

#clear-filters {
    position: relative;
    top: -1.8px;
}

#git {
    font-size: 1.2rem;
}

#gabata-icon {
    transform: scale(1);
}

.contact-icons {
    font-size: 1.5rem;
}

@media (max-width: 1100px) {
    #git {
        font-size: 1rem;
    }
    h2, h3 {
        font-size: medium;
    }
    .all {
        width: 90dvw;
        flex-wrap: wrap;
        font-size: 0.95rem;
        padding: 15px;
        margin-left: 11px;
    }
    .face {
        display: none;
    }
    img:not(#contact-pypi-img) {
        width: 20px;
    }
    #contact-pypi-img {
        width:27px;
    }
    .tag {
        gap: 5px;
        padding: 3px;
    }
    input[type=checkbox] {
        padding: 2px;
        width: 25px;
        height: 20px;
    }
    .general {
        gap: 0;
    }
    .general div {
        flex: none;
        width: 100%;
    }
    #gabata-icon {
        position: relative;
        left: -2px;
        transform: scale(0.95);
    }
    .contact-icons {
        font-size: 1.2rem;
    }
}

@media (max-width: 550px) {
    h4 {
        font-size: 0.95rem;
    }
    #clear-filters {
        top: -1px;
    }
    #git {
        font-size: 0.9rem;
    }
    .all {
        font-size: 0.85rem;
    }
    img:not(#contact-pypi-img) {
        width: 18px;
    }
    .projects {
        left: 15px;
    }
    li:not(.tag) {
        margin-left: -15px;
    }
    main, .general {
        gap: 5px;
    }
}
